body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color: black;
}
span {
    color: aqua;
}
#ig {
    border: none;
    background-color: aqua;
}
#gith {
    border: none;
    background-color: aqua;
}